<head>
	<title>Home</title>
	<link href="~/Scripts/css/metro.min.css" rel="stylesheet" />
    <link href="~/Scripts/css/metro-icons.min.css" rel="stylesheet" />
    <link href="~/Scripts/css/metro-schemes.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery_min.js"></script>
    <script src="~/Scripts/js/metro.js"></script>
    <script src="~/Scripts/js/select2.min.js"></script>
</head>

<body>
	<div >
        <center>
            <h2>Welcome Home</h2>
		</center>
	</div>
</body>