<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>

	</head>

	<body>
		<header style="background-color:gray;">Here is the header of the layout page.</header>
		@RenderBody()
	</body>
</html>
