<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Online Music</title>
	</head>
	<body>
		<h2 align="center">Welcome to music online</h2>
		<input type="button" value="Show" />
        <br>
	</body>
</html>